*{
    padding:0px;
    margin:0px;
}
body {
    padding:0px;
    margin:0px auto;
}
#formTK1{
    width:70%;
    text-align:center;
    margin:20px auto;
}
#lbtk{
    font-size:30px;
}
#btntk1{
    padding:5px;
    background-color:forestgreen;
    margin:10px;
    width:80px;
    margin:0px auto;
}
#tk{
    margin-bottom:5px;
    line-height:30px;
    width:100%;
    border-bottom: 3px solid green;
}
h2{
    text-align:center;
}